#contact_modal {
    display: none;
    position: fixed;
    z-index: 1;
    /*left:50%;*/
    top: 40%;
    width: 80%;   
    margin-left: 10%;
    margin-right: 10%; 
}

.photograph-header {
    background-color: #FAFAFA;
    height: 300px;
    margin: 0 100px;
    margin-bottom: 100px;
    display: grid;
    /*flex-direction: row;
    justify-content: space-around;*/
    
    /*width: 100%;*/
    /*display:grid;
    vertical-align: middle;*/
    align-items: center;

}

.photograph-header h1 {
    font-size: 3rem;
    color: #D3573C;
    margin: 0;
}

.photograph-header h2 {
    font-size: 1.5rem;
    color: #901C1C;
    margin: 0;
}

.photograph-header article {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
    margin-right: 50px;

    vertical-align: middle;
    /*display: grid;*/
}
.photograph-header div {
    display: flex;
    flex-direction: column;
}

.photograph-header a {
    display: flex;
    flex-direction: row;
}

.photograph-header img {
    height: 200px;
    width: 200px;
    border-radius: 100px;
    object-fit: cover;
}

section a {
    text-decoration: none;
}

article img {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius:5px;
}

article video {
    height: 350px;
    width: 350px;
    object-fit: cover;
    border-radius: 5px;
}

article div h3 {
    margin-top: 10px;
    margin-bottom: 40px;
    color: #901C1C;
    font-size: 1.5rem;
}

.photograph-header h3 {
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 1.2rem;
    color: #525252;
}

.contact_button {
    font-size: 20px;
    font-weight: bold;
    color: white;
    padding: 11px;
    width: 170px;
    height: 70px;
    border: none;
    background-color: #901C1C;
    border-radius: 5px;
    cursor: pointer;
}

.modal {
    border-radius: 5px;
    background-color: #DB8876;
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 35px;
    margin: auto;
}

.modal header {
    justify-content: space-between;
    width: 100%;
}

.modal header img {
    cursor: pointer;
}

.modal header h2 {
    font-size: 64px;
    font-weight: normal;
    text-align: center;
}

form {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: flex-start;
}

form label {
    color: #312E2E;
    font-size: 36px;
}

form div {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: self-start;
    margin-bottom: 26px;
}

form input {
    width: 100%;
    height: 68px;
    border: none;
    border-radius: 5px;
}

#realisations {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 86%;
    flex-wrap: wrap;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 100px;
}

.titrecoeur {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.like {
    display: flex;
    flex-direction: row;
    align-items: center;
    height: 50px;
}

.like i {
    vertical-align: middle;
    color: #901C1C;
    font-size: 1.5rem;
}

.like h3 {
    margin: 0;
    margin-right: 5px;
}

#tri {
    margin-left: 100px;
    margin-bottom: 100px;
    margin-top: 30px;
}

.liketarif {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 10%;
    padding-right: 10%;
    font-size: 1.5rem;
    background-color: #D3573C;
    border-radius: 5px 5px 0 0;
    position: relative;
    color: black;
}
.likes {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/*.liketarif {

}*/
.tarifJour {
    display: flex;
    flex-direction: row;
}
.likes h3 {
    margin-right: 5px;
  }

.blocliketarif {
    position: fixed;
    z-index: 1;
    left:68%;
    top: 92%;
    width: 30%;
}

.like:hover {
    cursor: pointer;
}


/* Propriétés du menu de tri */
* {
    list-style-type: none;
}
nav {
    text-align: center;
}
/*.menu {
display: inline-block;
}*/
.menu > ul {
    line-height: 50px;
    cursor: pointer;
    font-size: 20px;
    text-align: left;
    margin-top: 0;
}
.sous-menu {
    transform: scale(0.2);
    transform-origin: top left;
    transition: all 300ms ease-in-out;
    padding-bottom: 5px;
    border-radius: 5px;
    background-color: #901C1C;
    width: 150px;
    padding-left: 10px;
    padding-right: 10px;
}

.sous-menu li {
    font-size: 20px;
    color: white;
    transform: scale(0);
    transition: all 300ms ease-in-out;
    text-align: start;
    margin-left: 10px;
    margin-right: 10px;
    margin-top: 0;
    margin-bottom: 0;
}
.sous-menu li p {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 0;
    margin-top: 5px;
}
.espace {
    height: 2px;
    background-color: white;
    margin-left: -10px;
    margin-right: -10px;
}
.sous-menu li:hover,
.sous-menu li:focus {
    background: #D3573C;
}

.sous-menu:hover,
.sous-menu:focus {
    transform: scale(1);
}

.menu {
    display: flex;
    flex-direction: row;
    align-items: top;
    margin-left: 100px;
    margin-top: 20px;
    position: absolute;
    z-index: 1;
    left:0;
    top: 400px;
}

.sous-menu:hover li,
.sous-menu:focus li {
    transform: scale(1);
}

.menu label {
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    color: black;
}

/*----------------------------------------------------------------------------------------------------------------------*/
/* Lightbox */
/* Arrière plan */
.modal-lightbox {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    padding: 0;
}
    
/* Contenu de la lightbox */
.contenu-lightbox {
    background-color: white;
    margin: auto;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Le bouton fermeture */
.fermer {
    color: #901C1C;
    position: relative;
    top: 130px;
    left: 370px;
    font-size: 90px;
    transition: 0.6s ease;
}

.fermer:hover,
.fermer:focus {
    background-color: #D3573C;
    color: black;
    cursor: pointer;
    border-radius: 3px;
}

.image-lightbox {
    display: none;
    display: flex;
    text-align: center;
    justify-content: center;
}

.imagetitre img, .imagetitre video {
    width: 600px;
    height: 600px;
    margin: 60px;
    margin-bottom: 10px;
    object-fit:cover;
}

.imagePrecSuiv {
    display: flex;
    flex-direction: row;
    align-items: center;
}
/* Boutons précédant et suivant */
.precedant,
.suivant {
    cursor: pointer;
    color: #901C1C;
    font-weight: bold;
    font-size: 50px;
    transition: 0.6s ease;
    border-radius: 3px;
}

.precedant:hover,
.suivant:hover {
    background-color: #D3573C;
    color: black;
    border-radius: 3px 3px 3px 3px;
}

.titre-lightbox {
    color: #901C1C;
    font-size: 20px;
    padding: 8px 12px;
    width: 600px;
    text-align: left;
    margin-left: 75px;
}
